h1{
    color: blue;
    font-family: sans-serif;
    font-size:80px ;
    margin: 20px;
    padding: 10px;
}
p{
    font-size: 30px;
    font-family: Arial;

}
.right{
text-align: center;
font-family: solid;
padding-left: 10px;
position: relative;
top: -160px;
left: 10px;
}
body{
    background-color: white;
}

.right{
    box-shadow: 10px 0px 20px black;

}

