h1{
   border-width: 2px;
   border-style: solid;
    padding: 30px;
    margin: 50px;
    box-shadow: 10px 10px 150px blue;
   
}
h4{
  color: rgb(255, 00, 100);
  display:inline-block;

}
p{
     display: inline-block;

}
h3  {
    display: inline-block;
    position: absolute;
}
table{
    border: 2px solid green;
    border-collapse: collapse;
}
td{
    border: 2px solid black;
}