.ma-image{
height: 360px;
width: 50%;
border-radius: 20px;
box-shadow: 0px 10px 10px blue;
padding: 20px;
margin: auto ;
display:block;


}
h1{
    text-align: center;
}
p  {
    font-family: arial;
    font-size: 15px;
    text-align: center;
}
.submit{
    background-color: rgb(152, 75, 224);
    border-radius: 80px;
  padding: 10px;
    margin: 10px;
    width: 190px;
   
 
}
h2{
    font-family:  sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: center;
  padding: 10px;
 

}
h4{
  text-align: center;  
}
.btn{
    text-align: center;
    border-radius: 20px;
    }

   
